<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="loginUrl" value="http://192.168.11.92:8100/login.php"/>-->
    <add key="loginUrl" value="http://19001-prod-web1.azurewebsites.net/polinscriptor/login.php"/>
    <add key="app_version" value="1.1"/>
  </appSettings>
</configuration>